---
interface Props {
  title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} · dearBloom</title>
  </head>
  <body class="font-sans text-ink p-10">
    <slot />
  </body>
</html>
